<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Config>
<Config>

	<WebRTC>
		<IceServer>
			<Url>stun:222.73.196.99:3478</Url>
			<Url>turn:222.73.196.99:3478</Url>
		</IceServer>
		<TurnUrl>http://222.73.196.99:3478/turn?username=73970005&amp;key=4080218913</TurnUrl>
	</WebRTC>

	<TokenExpire>7200</TokenExpire>

	<Socket>
		<Host>192.168.1.211</Host>
		<Port>52195</Port>
		<LiveReq>ga</LiveReq>
		<LiveResp>live</LiveResp>
		<HeartBeatInterval>20</HeartBeatInterval>
		<ParamsDelimiter>&amp;</ParamsDelimiter><!-- & -->
		<MessageDelimiter>-@-xmn-@-</MessageDelimiter><!-- 消息定界符 -->
	</Socket>
	
	<Live>
		<RTMPUrl>rtmp://webrtc.ztchatsdk.mztgame.com/hls</RTMPUrl>
		<HLSUrl>http://webrtc.ztchatsdk.mztgame.com/hls</HLSUrl>
	</Live>

	<Apns>
		<!-- 推送 -->
		<DevelopmentCertName>cert_development.p12</DevelopmentCertName>
		<DevelopmentCertPassword>1234</DevelopmentCertPassword>
		<DistructionCertName>cert_production.p12</DistructionCertName>
		<DistructionCertPassword>1234</DistructionCertPassword>
		<PushSound>call.caf</PushSound>
		<PushBadge>1</PushBadge>
	</Apns>
	
	<Platform>
		<QQ>
			<AppId>1104695617</AppId>
			<AppKey>z8sAyBATHrw4BCSU</AppKey>
		</QQ>
		<Wechat>
			<AppId>wx20ec458b2c5ab93b</AppId>
			<AppSecret>37577c39c302bd95a5544a7c390cedfd</AppSecret>
		</Wechat>
	</Platform>

	<Logic>
		<RoomMaxUser>5</RoomMaxUser>
		<DefaultQuestionTags>语文;数学;外语</DefaultQuestionTags>
	</Logic>
</Config>
