<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Config>
<Config>

	<WebRTC>
		<IceServer>
				<Url>stun:222.73.196.99:3478</Url>
				<Url>turn:222.73.196.99:3478</Url>
			</IceServer>
		<TurnUrl>http://222.73.196.99:3478/turn?username=73970005&amp;key=4080218913</TurnUrl>
	</WebRTC>

	<TokenExpire>7200</TokenExpire>
	
	<Socket>
		<Host>192.168.1.211</Host>
		<Port>52195</Port>
		<LiveReq>ga</LiveReq>
		<LiveResp>live</LiveResp>
		<HeartBeatInterval>20</HeartBeatInterval>
		<ParamsDelimiter>&amp;</ParamsDelimiter><!--  # -->
		<MessageDelimiter>-@-xmn-@-</MessageDelimiter><!-- 消息定界符 -->
	</Socket>


	<Logic>
		<RoomMaxUser>5</RoomMaxUser>
	</Logic>
</Config>
