<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Config>
<Config>



	<Socket>
		<Host>192.168.2.8</Host>
		<Port>52195</Port>
		<LiveReq>ga</LiveReq>
		<LiveResp>live</LiveResp>
		<HeartBeatInterval>20</HeartBeatInterval>
		<ParamsDelimiter>&amp;</ParamsDelimiter><!-- & -->
		<MessageDelimiter>-@-xmn-@-</MessageDelimiter><!-- 消息定界符 -->
		<TokenExpire>7200</TokenExpire>
	</Socket>


	<Logic>
		<StreamUrl>http://</StreamUrl>
		<MaxLiveMember>5</MaxLiveMember>
	</Logic>
</Config>
