<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Config>
<Config>
	
	<Socket>
		<Host>222.73.196.99</Host>
		<Port>5051</Port>
		<LiveReq>ga</LiveReq>
		<LiveResp>live</LiveResp>
		<HeartBeatInterval>20</HeartBeatInterval>
		<ParamsDelimiter>&amp;</ParamsDelimiter><!-- & -->
		<MessageDelimiter>-@-xmn-@-</MessageDelimiter><!-- 消息定界符 -->
		<TokenExpire>7200</TokenExpire>
	</Socket>
	
	<Platform>
		<QQ>
			<AppId>1104695617</AppId>
			<AppKey>z8sAyBATHrw4BCSU</AppKey>
		</QQ>
		<Wechat>
			<AppId>wxa2af8cd5a068e9b2</AppId>
			<AppSecret>da528221eee9712b12761fe312efe6f1</AppSecret>
		</Wechat>
	</Platform>

	<Logic>
		<StreamUrl>http://</StreamUrl>
		<MaxLiveMember>100</MaxLiveMember>
	</Logic>
</Config>
